<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input name="id" th:field="*{id}" th:value="${user.id}" hidden="hidden">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label>Roles:</label>
    <div th:each="role : ${allRoles}">
        <label>
            <input type="checkbox" th:value="${role.id}" th:field="*{roles}" />
        </label>
        <span th:text="${role.name}">Role Name</span>
    </div>
    <br/>

    <input type="submit" value="Update user!">
</form>

</body>
</html>